/** @format */

.Instructors {
  /* font-weight: 600;
  font-style: italic;
  padding: 3rem; */
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  padding: 48px 40px;
  align-items: center;
  flex: 1;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
p {
  color: #653cc3;
}
