/** @format */

.Instructors {
  /* font-weight: 600;
  font-style: italic;
  padding: 3rem; */
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  margin-left: 15px;
  padding: 48px 40px;
  align-items: center;
  flex: 1;
}
